@import '../../node_modules/reveal/index.css';
@import '../../node_modules/reveal/theme/solarized.css';

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.reveal .slide-background.present {
  background: transparent;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #a5c9f3;
  text-transform: uppercase;
}
